[submodule "jnifmuapi/src/main/native/src/external/shared/fmi2"]
	path = jnifmuapi/src/main/native/src/external/shared/fmi2
	url = https://github.com/modelica/fmi-standard.git
[submodule "jnifmuapi/src/main/native/src/external/shared/fmi3"]
	path = jnifmuapi/src/main/native/src/external/shared/fmi3
	url = https://github.com/modelica/fmi-standard.git
